@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Merriweather:wght@400;700&display=swap') ;
body {
font-family : 'Roboto', Arial, sans-serif;
margin : 0;
padding : 0;
scroll-behavior : smooth;
}
header {
background-image : url("../images/banniere.png");
background-size : cover;
background-color : #272C2F;
height : 200px;
position : relative;
transition : background-color 0.3s ease-in-out, background-image 0.3s ease-in-out;
}
.carousel-inner {
border-radius : 30px;
}
.fixed-header {
position : fixed;
width : 100%;
top : 0;
left : 0;
z-index : 1000;
}
.scrolled-header {
background-color : transparent;
background-image : none;
}
.navbar {
width : 100%;
}
.nav-item {
padding-top : 50px;
}
.nav-button {
padding : 20px 60px;
border : #DC8D61 solid 2px;
background-color : transparent;
color : #DC8D61;
border-radius : 5px;
transition : background-color 0.3s ease-in-out, color 0.3s ease-in-out;
font-size : 16px;
text-decoration : none;
}
.nav-button:hover {
background-color : #DC8D61;
color : #272C2F;
}
.offcanvas-body {
background-color : #272C2F;
}
.offcanvas-header {
background-color : #272C2F;
color : #DC8D61;
}
.offcanvas-title {
text-align : center;
}
.navbar-toggler {
padding : 10px 20px;
border : none;
cursor : pointer;
z-index : 1;
background-color : #ffffff !important ;
color : white !important ;
border-radius : 5px;
}
.navbar-toggler:focus, .navbar-toggler:active {
background-color : #ffffff !important ;
}
.navbar-toggler .navbar-toggler-icon {
background-color : #ffffff !important ;
}
.reserve-button {
padding : 10px 10px;
border : #272C2F solid 2px;
background-color : white;
color : #DC8D61;
border-radius : 5px;
transition : background-color 0.3s ease-in-out, color 0.3s ease-in-out;
text-decoration : none;
}
.reserve-button:hover {
background-color : #272C2F;
color : #DC8D61;
}
.logo {
width : 166px;
height : 145px;
z-index : 1;
}
main {
padding : 0;
margin-top : 150px;
}
.section {
background-color : #272C2F;
display : flex;
align-items : stretch;
margin-bottom : 0;
height : auto;
opacity : 0;
transform : translateY(50px);
transition : opacity 0.6s ease-out, transform 0.6s ease-out;
border-radius : 30px;
}
.section.visible {
opacity : 1;
transform : translateY(0);
}
.alternate {
flex-direction : row;
}
.text-block {
text-align : center;
font-size : 20px;
margin : 0;
flex : 0 1 40%;
display : flex;
align-items : center;
justify-content : center;
color : #DC8D61;
font-family : 'Merriweather', serif;
}
.responsive-img {
width : 55%;
height : auto;
object-fit : cover;
flex : 1;
}
footer {
background-color : #272C2F;
padding-top : 50px;
text-align : center;
}
.footer-sections {
display : flex;
justify-content : space-between;
}
.footer-section {
flex : 1;
position : relative;
overflow : hidden;
}
.footer-section img {
width : 100%;
height : auto;
transition : transform 0.3s ease-in-out;
}
.footer-section:hover img {
transform : scale(1.1);
}
.footer-content {
position : absolute;
top : 50%;
left : 50%;
transform : translate(-50%,-50%);
color : white;
text-align : center;
width : 100%;
font-family : 'Roboto', Arial, sans-serif;
}
.footer-text {
font-size : 24px;
margin-bottom : 10px;
}
.discover-button {
padding : 10px 20px;
border : white solid 2px;
background-color : transparent;
color : white;
font-size : 16px;
border-radius : 5px;
transition : background-color 0.3s ease-in-out, color 0.3s ease-in-out;
text-decoration : none;
}
.discover-button:hover {
background-color : white;
color : black;
}
.overlay {
position : absolute;
top : 0;
left : 0;
width : 100%;
height : 100%;
background-color : rgb(0, 0, 0, 0.5);
}
.contact-info {
display : flex;
align-items : center;
justify-content : space-between;
margin-top : 40px;
}
.contact-left, .contact-right {
width : 20%;
}
.contact-details-container {
text-align : center;
width : 60%;
}
.contact-text {
font-size : 24px;
margin-top : 10px;
color : #DC8D61;
font-family : 'Merriweather', serif;
}
.contact-details, .opening-hours, .copyright, .opening-hours a {
margin-top : 10px;
font-size : 18px;
color : #DC8D61;
font-family : 'Merriweather', serif;
}
.section {
opacity : 0;
transition : opacity 2s ease-in-out;
}
.section.fade-in {
opacity : 1;
}
@media (max-width: 768px) {
main {
padding : 0;
margin-top : -50px;
font-family : 'Merriweather', serif;
}
header {
background-color : #272C2F !important ;
height : auto;
position : relative;
transition : background-color 0.3s ease-in-out, background-image 0.3s ease-in-out;
}
.section {
flex-direction : column-reverse;
align-items : center;
justify-content : center;
padding : 0;
margin : 0;
width : 100%;
font-family : 'Merriweather', serif;
}
.alternate {
flex-direction : column;
align-items : center;
justify-content : center;
padding : 0;
margin : 0;
width : 100%;
font-family : 'Merriweather', serif;
}
.text-block {
margin : 0;
padding : 20px;
text-align : center;
width : 100%;
font-family : 'Merriweather', serif;
font-size : 14px;
}
.carousel-fade, .map-responsive {
width : 100%;
font-family : 'Merriweather', serif;
}
.fixed-header {
position : static;
width : 100%;
font-family : 'Merriweather', serif;
background-image : none;
}
.container-fluid {
display : flex;
flex-direction : row;
}
.scrolled-header {
background-color : transparent;
background-image : none;
}
.navbar {
justify-content : space-between;
width : 100%;
font-family : 'Merriweather', serif;
}
.navbar-toggler {
margin-right : 20px;
font-family : 'Merriweather', serif;
}
.navbar img.logo {
margin : 0 auto;
font-family : 'Merriweather', serif;
width : 160px;
}
.reserve-button {
margin-left : -10px;
font-family : 'Merriweather', serif;
}
.footer-sections {
flex-direction : column;
align-items : center;
font-family : 'Merriweather', serif;
}
.footer-section {
font-family : 'Merriweather', serif;
}
.contact-info {
align-items : center;
font-family : 'Merriweather', serif;
}
.contact-details-container {
text-align : center;
font-family : 'Merriweather', serif;
}
}